<div class="view">
    <app-aplication-navbar></app-aplication-navbar>
  
    <div class="main">
        <app-aplication-header></app-aplication-header>
        
        <div class="content">
            <div class="titleZone">
                <section class="title">
                    <h1>Editar Alianza</h1>
                    <p>Modifica los detalles de la alianza seleccionada.</p>
                </section>
            </div>
  
            <div class="form-container">
                <form [formGroup]="alianzaForm" (ngSubmit)="onSubmit()" class="formContent">
                    <label for="aliado_id">ID del Aliado:</label>
                    <input id="aliado_id" formControlName="aliado_id" type="number">
                    <div *ngIf="alianzaForm.get('aliado_id')?.invalid && alianzaForm.get('aliado_id')?.touched">
                        El ID del aliado es requerido.
                    </div>

                    <label for="departamento">Departamento:</label>
                    <input id="departamento" formControlName="departamento" type="number">
                    <div *ngIf="alianzaForm.get('departamento')?.invalid && alianzaForm.get('departamento')?.touched">
                        El departamento es requerido.
                    </div>
  
                    <label for="fecha_inicio">Fecha de Inicio:</label>
                    <input id="fecha_inicio" formControlName="fecha_inicio" type="date">
                    <div *ngIf="alianzaForm.get('fecha_inicio')?.invalid && alianzaForm.get('fecha_inicio')?.touched">
                        La fecha de inicio es requerida.
                    </div>

                    <label for="fecha_fin">Fecha de Fin:</label>
                    <input id="fecha_fin" formControlName="fecha_fin" type="date">
                    <div *ngIf="alianzaForm.get('fecha_fin')?.invalid && alianzaForm.get('fecha_fin')?.touched">
                        La fecha de fin es requerida.
                    </div>

                    <label for="docente">ID del Docente:</label>
                    <input id="docente" formControlName="docente" type="number">
                    <div *ngIf="alianzaForm.get('docente')?.invalid && alianzaForm.get('docente')?.touched">
                        El ID del docente es requerido.
                    </div>
  
                    <button type="submit" [disabled]="alianzaForm.invalid">Guardar Cambios</button>
                    <button type="button" (click)="onCancel()" class="deleteButton">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
