<div class="navbar">
    <div class="navbar_logo">
        <img class="img_logo" src="https://github.com/pabrax.png" alt="img_logo">
    </div>
    
    <div class="routing-pages">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            
            <li>
                <a routerLink="/docs">Docs</a>
            </li>
            
            <li>
                <a routerLink="/about-us">About Us</a>
            </li>
            
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
    
    
    <div class="login-section">
        <a routerLink="/login">login</a>
    </div>

</div>
