
<div class="view">

    <app-aplication-navbar />
    
    <div class="main">
      <app-aplication-header />
      <div class="content">
        <div class="titleZone">
          <section class="title">
            <h1>Intereses futuros</h1>
            <p>apartado para manejar los intereses futuros</p>
          </section>
    
          <!-- boton de redireccion a pagina para crear una red -->
          <section class="createModelButton">
            <button (click)="createInteresesFuturos()">Crear InteresFuturo</button>
          </section>
        </div>
    
        <div class="tableContainer">
          <!-- Tabla para mostrar las redes -->
          <table class="custom-table">
            <thead>
                <tr>
                    <th>Docente ID</th>
                    <th>Término Clave</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interes of interesesFuturos">
                    <td>{{ interes.docente }}</td>
                    <td>{{ interes.termino_clave }}</td>
                    <td>
                        <button (click)="editInteresesFuturos(interes.docente)" class="editButton">Editar</button>
                        <button (click)="deleteInteresesFuturos(interes.docente)" class="deleteButton">Eliminar</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  