<div class="view">
    <app-aplication-navbar></app-aplication-navbar>
  
    <div class="main">
        <app-aplication-header></app-aplication-header>
        
        <div class="content">
            <div class="titleZone">
                <section class="title">
                    <h1>Editar Alianza</h1>
                    <p>Modifica los detalles de la alianza seleccionada.</p>
                </section>
            </div>
  
            <div class="form-container">
                <form [formGroup]="alianzaForm" (ngSubmit)="onSubmit()" class="formContent">
                    <div class="main-form-content">
                        <div class="campo">
                            <label for="aliado">Aliado:</label>
                            <input id="aliado" formControlName="aliado" type="text" readonly [value]="aliadoId">
                            <div *ngIf="alianzaForm.get('aliado')?.invalid && alianzaForm.get('aliado')?.touched">
                                El ID del aliado es requerido.
                            </div>
                        </div>

                        <div class="campo">
                            <label for="departamento">Departamento:</label>
                            <input id="departamento" formControlName="departamento" type="number">
                            <div *ngIf="alianzaForm.get('departamento')?.invalid && alianzaForm.get('departamento')?.touched">
                                El departamento es requerido.
                            </div>
                        </div>

  
                        <div class="campo">
                            <label for="fecha_inicio">Fecha de Inicio:</label>
                            <input id="fecha_inicio" formControlName="fecha_inicio" type="date">
                            <div *ngIf="alianzaForm.get('fecha_inicio')?.invalid && alianzaForm.get('fecha_inicio')?.touched">
                                La fecha de inicio es requerida.
                            </div>
                        </div>

                        <div class="campo">
                            <label for="fecha_fin">Fecha de Fin:</label>
                            <input id="fecha_fin" formControlName="fecha_fin" type="date">
                            <div *ngIf="alianzaForm.get('fecha_fin')?.invalid && alianzaForm.get('fecha_fin')?.touched">
                                La fecha de fin es requerida.
                            </div>
                        </div>

                        <div class="campo">
                            <label for="docente">Docente:</label>
                            <input id="docente" formControlName="docente" type="text" readonly [value]="docenteId">
                            <div *ngIf="alianzaForm.get('docente')?.invalid && alianzaForm.get('docente')?.touched">
                                El ID del docente es requerido.
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" [disabled]="alianzaForm.invalid" class="save-button">Guardar Cambios</button>
                        <button type="button" (click)="onCancel()" class="deleteButton">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
