<div class="view">
  <app-aplication-navbar></app-aplication-navbar>

  <div class="main">
    <app-aplication-header></app-aplication-header>
    <div class="content">
      <div class="titleZone">
        <section class="title">
          <h1>Redes</h1>
          <p>
            Apartado para manejar las redes a las que los docentes hacen parte
          </p>
        </section>
      </div>

      <div class="form-container">
        <h2>Crear Nueva Red</h2>

        <form
          [formGroup]="redDocenteForm"
          (ngSubmit)="onSubmit()"
          class="formContent"
        >
          <div class="main-form-content">

            <div class="campo">
              <label for="red">Red:</label>
              <select id="red" formControlName="red">
                <option *ngFor="let red of redes" [value]="red.idr">{{ red.nombre }}</option>
              </select>
              <div
                *ngIf="
                  redDocenteForm.get('red')?.invalid &&
                  redDocenteForm.get('red')?.touched
                "
              >
                La red es requerida.
              </div>
            </div>

            <div class="campo">
              <label for="docente">Docente:</label>
              <select id="docente" formControlName="docente">
              <option *ngFor="let docente of docentes" [value]="docente.cedula">{{ docente.nombres }}</option>
              </select>
              <div
              *ngIf="
                redDocenteForm.get('docente')?.invalid &&
                redDocenteForm.get('docente')?.touched
              "
              >
              El docente es requerido.
              </div>
            </div>

            <div class="campo">
              <label for="fecha_inicio">Fecha de Inicio:</label>
              <input
                id="fecha_inicio"
                formControlName="fecha_inicio"
                type="date"
              />
              <div
                *ngIf="
                  redDocenteForm.get('fecha_inicio')?.invalid &&
                  redDocenteForm.get('fecha_inicio')?.touched
                "
              >
                La fecha de inicio es requerida.
              </div>
            </div>

            <div class="campo">
              <label for="fecha_fin">Fecha de Fin:</label>
              <input id="fecha_fin" formControlName="fecha_fin" type="date" />
              <div
                *ngIf="
                  redDocenteForm.get('fecha_fin')?.invalid &&
                  redDocenteForm.get('fecha_fin')?.touched
                "
              >
                La fecha de fin es requerida.
              </div>
            </div>

            <div class="campo">
              <label for="act_destacadas">Actividades Destacadas:</label>
              <input
                id="act_destacadas"
                formControlName="act_destacadas"
                type="text"
              />
              <div
                *ngIf="
                  redDocenteForm.get('act_destacadas')?.invalid &&
                  redDocenteForm.get('act_destacadas')?.touched
                "
              >
                Las actividades destacadas son requeridas.
              </div>
            </div>
          </div>

          <div class="button-container">
            <button type="submit" [disabled]="redDocenteForm.invalid">
              Crear Red
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
