<div class="view">
    <app-aplication-navbar/>

    <div class="main">
        <app-aplication-header/>
        <div class="content">
    
            <div class="titleZone">
                <section class="title">
                    <h1>Redes</h1>
                    <p>Apartado para manejar las redes a las que los docentes hacen parte</p>
                </section>
    
                <!-- boton de redireccion a pagina para crear una red -->
                 <section class="createModelButton">
                    <button (click)="createRed()">Crear Red</button>
                 </section>
            </div>
    
            <div class="tableContainer">
                <!-- Tabla para mostrar las redes -->
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>URL</th>
                            <th>País</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let red of redes">
                            <td>{{ red.idr }}</td>
                            <td>{{ red.nombre }}</td>
                            <td>{{ red.url }}</td>
                            <td>{{ red.pais }}</td>
                            <td>
                                <button (click)="editRed(red.idr)" class="editButton">Editar</button>
                                <button (click)="deleteRed(red.idr)" class="deleteButton">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    
            </div>
    
        </div>
    </div>

</div>