<div class="view">
    <app-aplication-navbar/>

    <div class="main">
        <app-aplication-header/>
        <div class="content">

            <div class="titleZone">
                <section class="title">
                    <h1>Apoyo Profesional</h1>
                    <p>Apartado para manejar el apoyo profesional otorgado a los docentes</p>
                </section>

            </div>                    
            
            <div class="form-container">
                <h2>Crear Nuevo Apoyo Profesional</h2>
              
                <form [formGroup]="apoyoProfesoralForm" (ngSubmit)="onSubmit()" class="formContent">
                  <label for="estudios">Estudios:</label>
                  <input id="estudios" formControlName="estudios" type="number">
                  <div *ngIf="apoyoProfesoralForm.get('estudios')?.invalid && apoyoProfesoralForm.get('estudios')?.touched">
                    El campo de estudios es requerido.
                  </div>
              
                  <label for="con_apoyo">¿Con Apoyo?</label>
                  <select id="con_apoyo" formControlName="con_apoyo">
                    <option value="">Seleccione...</option>
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                  </select>
                  <div *ngIf="apoyoProfesoralForm.get('con_apoyo')?.invalid && apoyoProfesoralForm.get('con_apoyo')?.touched">
                    Seleccione si tiene apoyo.
                  </div>
              
                  <label for="institucion">Institución:</label>
                  <input id="institucion" formControlName="institucion" type="text">
                  <div *ngIf="apoyoProfesoralForm.get('institucion')?.invalid && apoyoProfesoralForm.get('institucion')?.touched">
                    La institución es requerida.
                  </div>

                  <label for="tipo">Tipo:</label>
                  <input id="tipo" formControlName="tipo" type="text">
                  <div *ngIf="apoyoProfesoralForm.get('tipo')?.invalid && apoyoProfesoralForm.get('tipo')?.touched">
                    El tipo es requerido.
                  </div>
              
                  <button type="submit" [disabled]="apoyoProfesoralForm.invalid">Crear Apoyo Profesional</button>
                </form>
              </div>
              
        </div>
    </div>

</div>
