<div class="view">
    <app-aplication-navbar></app-aplication-navbar>

    <div class="main">
        <app-aplication-header></app-aplication-header>
        <div class="content">

            <div class="titleZone">
                <section class="title">
                    <h1>Estudio AC</h1>
                    <p>Apartado para manejar los estudios de áreas de conocimiento.</p>
                </section>
            </div>                    

            <div class="form-container">
                <h2>Crear Nuevo Estudio AC</h2>

                <form [formGroup]="estudioAcForm" (ngSubmit)="onSubmit()" class="formContent">

                    <div class="main-form-content">
                        
                        <div class="campo">
                            <label for="estudio">Estudios Realizados:</label>
                            <select id="estudio" formControlName="estudio">
                                <option *ngFor="let estudio of estudiosRealizados" [value]="estudio.id">{{ estudio.titulo }}</option>
                            </select>
                            <div *ngIf="estudioAcForm.get('estudio')?.invalid && estudioAcForm.get('estudio')?.touched">
                                Seleccione un estudio realizado.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="area_conocimiento">ID del Área de Conocimiento:</label>
                            <input id="area_conocimiento" formControlName="area_conocimiento" type="number">
                            <div *ngIf="estudioAcForm.get('area_conocimiento')?.invalid && estudioAcForm.get('area_conocimiento')?.touched">
                                El ID del área de conocimiento es requerido.
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="button-container">
                        <button type="submit" [disabled]="estudioAcForm.invalid">Crear Estudio AC</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
