<div class="view">

    <app-aplication-navbar />
    
    <div class="main">
      <app-aplication-header />
      <div class="content">
        <div class="titleZone">
          <section class="title">
            <h1>Docente departamento</h1>
            <p>apartado para manejar y ver los docentes y departamentos asociados</p>
          </section>
    
          <!-- boton de redireccion a pagina para crear una red -->
          <section class="createModelButton">
            <button (click)="createDocenteDepartamento()">Crear docente Departamento</button>
          </section>
        </div>
    
        <div class="tableContainer">
          <!-- Tabla para mostrar las redes -->
          <table class="custom-table">
            <thead>
              <tr>
                <th>Docente id</th>
                <th>departamento id</th>
                <th>Dedicacion</th>
                <th>modalidad</th>
                <th>fecha ingreso</th>
                <th>fecha salida</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc_dep of docenteDepartamentos">
                <td>{{ doc_dep.docente }}</td>
                <td>{{ doc_dep.departamento }}</td>
                <td>{{ doc_dep.dedicacion }}</td>
                <td>{{ doc_dep.modalidad }}</td>
                <td>{{ doc_dep.fecha_ingreso }}</td>
                <td>{{ doc_dep.fecha_salida }}</td>
                <td>
                  <button (click)="editDocenteDepartamento(doc_dep.docente)" class="editButton">Editar</button>
                  <button (click)="deleteDocenteDepartamento(doc_dep.docente)" class="deleteButton">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  