<div class="main-content">

    <section class="main">
        <div class="img-container">
            <img src="assets/Logo-ITM-01.png" alt="footer_img">
        </div>
    
    
        <div class="enlances">
            <ul>
                <li><a routerLink="/docs">Docs</a></li>
                <li><a routerLink="/about-us">About US</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    
        <div class="contacto">
            <ul>
                <li><a href="https://github.com/pabrax" target="_blank">Pablo - Github</a></li>
                <li><a href="https://github.com/KevinAB06"target="_blank">Kevin - Github</a></li>
            </ul>
        </div>
    </section>

    <div class="Copyright">
        <p>Copyright 2024 ITM</p>
        <p>politica de privacidad</p>
        <p>Terminos</p>
    </div>
</div>
