<div class="view">
    <app-aplication-navbar></app-aplication-navbar>
  
    <div class="main">
      <app-aplication-header></app-aplication-header>
      
      <div class="content">
        <div class="titleZone">
          <section class="title">
            <h1>Editar Red</h1>
            <p>Modifica los detalles de la red seleccionada.</p>
          </section>
        </div>
  
        <div class="form-container">
          <form [formGroup]="redForm" (ngSubmit)="onSubmit()" class="formContent">
            <label for="nombre">Nombre de la Red:</label>
            <input id="nombre" formControlName="nombre" type="text">
            <div *ngIf="redForm.get('nombre')?.invalid && redForm.get('nombre')?.touched">
              El nombre es requerido.
            </div>
  
            <label for="url">URL de la Red:</label>
            <input id="url" formControlName="url" type="url">
            <div *ngIf="redForm.get('url')?.invalid && redForm.get('url')?.touched">
              Proporcione una URL válida.
            </div>
  
            <label for="pais">País:</label>
            <input id="pais" formControlName="pais" type="text">
            <div *ngIf="redForm.get('pais')?.invalid && redForm.get('pais')?.touched">
              El país es requerido.
            </div>
  
            <button type="submit" [disabled]="redForm.invalid">Guardar Cambios</button>
            <button type="button" (click)="onCancel()" class="deleteButton">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  