<div class="view">
  <app-aplication-navbar></app-aplication-navbar>

  <div class="main">
    <app-aplication-header></app-aplication-header>
    <div class="content">

      <div class="titleZone">
        <section class="title">
          <h1>Experiencias</h1>
          <p>Apartado para manejar las experiencias laborales de los docentes</p>
        </section>
      </div>                    

      <div class="form-container">
        <h2>Crear Nueva Experiencia</h2>

        <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()" class="formContent">

          <div class="main-form-content">
            
            <div class="campo">
              <label for="docente">Docente:</label>
              <select id="docente" formControlName="docente">
              <option value="">Seleccione un docente</option>
              <option *ngFor="let docente of docentes" [value]="docente.cedula">{{ docente.nombres }}</option>
              </select>
              <div *ngIf="experienciaForm.get('docente')?.invalid && experienciaForm.get('docente')?.touched">
              El docente es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="nombre_cargo">Nombre del Cargo:</label>
              <input id="nombre_cargo" formControlName="nombre_cargo" type="text">
              <div *ngIf="experienciaForm.get('nombre_cargo')?.invalid && experienciaForm.get('nombre_cargo')?.touched">
                El nombre del cargo es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="institucion">Institución:</label>
              <input id="institucion" formControlName="institucion" type="text">
              <div *ngIf="experienciaForm.get('institucion')?.invalid && experienciaForm.get('institucion')?.touched">
                La institución es requerida.
              </div>
            </div>

            <div class="campo">
              <label for="tipo">Tipo:</label>
              <select id="tipo" formControlName="tipo">
                <option value="">Seleccione un tipo</option>
                <option value="docencia">Docencia</option>
                <option value="investigacion">Investigación</option>
                <option value="administracion">Administración</option>
              </select>
              <div *ngIf="experienciaForm.get('tipo')?.invalid && experienciaForm.get('tipo')?.touched">
                El tipo es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="fecha_inicio">Fecha de Inicio:</label>
              <input id="fecha_inicio" formControlName="fecha_inicio" type="date">
              <div *ngIf="experienciaForm.get('fecha_inicio')?.invalid && experienciaForm.get('fecha_inicio')?.touched">
                La fecha de inicio es requerida.
              </div>
            </div>
            
            <div class="campo">
              <label for="fecha_fin">Fecha de Fin:</label>
              <input id="fecha_fin" formControlName="fecha_fin" type="date">
              <div *ngIf="experienciaForm.get('fecha_fin')?.invalid && experienciaForm.get('fecha_fin')?.touched">
                La fecha de fin es requerida.
              </div>
            </div>
          </div>
          
          <div class="button-container">
            <button type="submit" [disabled]="experienciaForm.invalid">Crear Experiencia</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
