<app-nav-bar/>

<div class="container">
    <h1>Acerca de nosotros</h1>
    <p>somos un grupo de desarrollo de software pensado en el desarrollo de aplicaciones orientadas al sector academico, creamos APIs que puedan ser utilizadas y adaptadas por el usuario final</p>

    <h2>Integrantes</h2>
    <ul>
        <li>Brayan Pabon</li>
        <li>Andres Pabon</li>
    </ul>


    <h2>Objetivo</h2>
    <p>El objetivo de la aplicacion es facilitar la gestion de la informacion academica de una institucion educativa, permitiendo a los usuarios finales realizar consultas a la informacion almacenada en la base de datos</p>

    <h2>Documentacion</h2>
    <p>En la seccion de documentacion se encuentra la informacion necesaria para poder realizar consultas a la API</p>
    <a [routerLink]="'/docs'">Ver documentacion</a>

</div>
