/* Estilos generales */
.view {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: black;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent overflow */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    /* justify-content: center; */
    width: 90%;
    height: 100%; /* Adjust height to account for margin-top */
    margin-top: 2rem;
    overflow: hidden; /* Prevent overflow */
  }
  
  .titleZone {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 25%;
  }
  
  .title {
    width: 70%;
  }
  
  .title h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #4caf50;
    margin: 0;
  }
  
  .createModelButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el formulario */
  .form-container {
    width: 80%;
    margin-bottom: 4rem;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    margin-top: 0.5rem;
    overflow-y: auto; /* Makes the container scrollable */
    max-height: 80vh; /* Optional: Limits the height of the container */
  }
  
  .form-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #4caf50;
    margin: 0;
    margin-bottom: 1rem;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .form-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .form-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .main-form-content {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 1rem; /* Adds space between items */
    width: 100%;
    justify-content: center; /* Adds separation between columns */
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(30% - 1rem); /* Adjust width to account for gap */
    margin: 0;
  }
  
  .campo label {
    display: flex;
    align-self: flex-start;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #323232;
    margin: 0;
  }
  
  .campo input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .campo input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
  }
  
  .campo div {
    font-size: 0.8rem;
    color: #ff968e;
  }
  
  .campo select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
  
  
  
  .button-container button {
    color: white;
    padding: 0.7rem;
    margin: 0 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  .save-button {
    background-color: #4caf50;
  }
  .deleteButton {
    background-color: #ff968e;
  }
  
  .button-container .save-button:hover {
    background-color: #45a049; /* Darker shade of green */
    transform: scale(1.05); /* Slightly enlarge the button */
  }
  
  .button-container .deleteButton:hover {
    background-color: #ff968e; /* Darker shade of green */
    transform: scale(1.05); /* Slightly enlarge the button */
  }
  
  /* Media Queries for responsive design */
  @media (max-width: 1024px) {
    .content {
      width: 95%;
    }
  
    .form-container {
      width: 85%;
    }
  
    .campo {
      width: calc(45% - 1rem); /* Adjust width for larger screens */
    }
  }
  
  @media (max-width: 768px) {
    .content {
      width: 100%;
      margin-top: 1rem;
    }
  
    .title h1 {
      font-size: 2rem;
    }
  
    .createModelButton {
      width: 50%;
    }
  
    .form-container {
      width: 90%;
      padding: 1rem;
    }
  
    .form-container h2 {
      font-size: 1.5rem;
    }
  
    .main-form-content {
      flex-direction: column;
      justify-content: centers;
      align-items: center;
    }
  
    .campo {
      width: calc(50% - 1rem); /* Adjust width for medium screens */
    }
  
    input {
      width: 100%;
    }
  
    button {
      width: 100%;
      padding: 0.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .title h1 {
      font-size: 1.5rem;
    }
  
    .createModelButton {
      width: 70%;
    }
  
    .form-container {
      width: 100%;
      padding: 0.5rem;
    }
  
    .form-container h2 {
      font-size: 1.2rem;
    }
  
    .main-form-content {
      flex-direction: column;
      justify-content: centers;
      align-items: center;
      width: 80%;
    }
  
    .campo {
      width: 100%; /* Full width for small screens */
    }
  
    input {
      width: 100%;
    }
  
    button {
      width: 100%;
      padding: 0.5rem;
    }
  }