
<div class="navigator">
    <h3>Gestion Profesoral</h3>
    <ul>
        <li><a routerLink="/app/home">Inicio</a></li>
        <li><a routerLink="/app/red">Red</a></li>
        <li><a routerLink="/app/evaluacion-docentes">Evaluacion Docentes</a></li>
        <li><a routerLink="/app/aliado">Aliado</a></li>
        <li><a routerLink="/app/experiencia">Experiencia</a></li>
        <li><a routerLink="/app/beca">Beca</a></li>
        <li><a routerLink="/app/apoyo-profesoral">Apoyo Profesoral</a></li>
        <li><a routerLink="/app/reconocimiento">Reconocimiento</a></li>
    </ul>
</div>
