.navigator {
    height: 100vh;
    width: 15rem;
    background: #282828;
    color: white;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
    height: 2rem;
    padding: 1rem;
    background: #333;
    text-align: center;
}
/* quita la tabulacion de la lista */
ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    list-style-position: initial;
    margin-top: 2rem
}

ul li {
    padding: 5px;
    border-bottom: 1px solid #333;
}
a {
    text-decoration: none;
    color: white;
}