
<!-- navbar compartida entre paginas publicas -->

<app-nav-bar/>
<div class="container">
    
    <!--  seccion inicial del contenido, titulo, descripcion, etc -->
    <section class="app-content">
        <h1>Gestion Profesoral</h1>
        <p>Ofrecemos servicios para la gestion profesoral de las instituciones</p>
    
        <a href="">Get started</a>
    </section>
    
    <br>
    
    <!-- seccion donde se habla del contenido -->
    <section class="main-content">
        <h1>Módulo de Gestión Profesoral</h1>
        <p>El Módulo de Gestión Profesoral es una solución integral diseñada para facilitar la administración de la información de los profesores en instituciones educativas. Este módulo permite gestionar datos como perfiles, horarios, asignaturas impartidas, y evaluaciones de desempeño, entre otros. A través de una API robusta y segura, las instituciones pueden integrar fácilmente este módulo con sus sistemas existentes, garantizando una gestión eficiente y centralizada. Además, el acceso a la API está protegido mediante claves de acceso (API keys), asegurando que solo usuarios autorizados puedan interactuar con la información sensible. Nuestro objetivo es proporcionar una herramienta que optimice los procesos administrativos y contribuya a la mejora continua de la calidad educativa.</p>
    </section>
    
    <!--  seccion que habla sobre el equipo -->
    <section class="about-us">
        <h3>Sobre nosotros</h3>
        <p>Somos un equipo de desarrollo del Instituto Tecnológico Metropolitano, dedicado a crear soluciones tecnológicas innovadoras para la gestión profesoral. Nuestro objetivo es facilitar la administración de la información académica mediante el desarrollo de una API robusta y segura. Con un enfoque en la eficiencia y la calidad, trabajamos para integrar nuestras soluciones con los sistemas existentes de las instituciones educativas, asegurando una gestión centralizada y optimizada. Nos apasiona contribuir al avance de la educación a través de herramientas tecnológicas que mejoren los procesos administrativos y promuevan la excelencia académica.</p>
    </section>
    
    <!-- seccion de contacto -->
    <section class="contact">
        <h3>Contacto</h3>
        <p>Si te interesa Este Proyecto o necesitas ayuda con algo, No dudes en Contactar con nosotros</p>

        <div class="contact-options">
            <a href="mailto:cuenta@correo.com">Email</a>
            <a href="https://linkedin.com">Linkedin</a>
        </div>

    </section>
    
    
    <!-- seccion del footer -->
</div>
<app-footer/>
