
<!-- navbar compartida entre paginas publicas -->
<app-nav-bar/>

<!--  seccion inicial del contenido, titulo, descripcion, etc -->
<section class="app-content">
    <h1>Gestion Profesoral</h1>
    <p>Ofrecemos servicios para la gestion profesoral de las instituciones</p>

    <a href="">Get started</a>
</section>

<br>

<!-- seccion donde se habla del contenido -->
<section class="main-content">
    
</section>

<!--  seccion que habla sobre el equipo -->
<section class="about-us">
    <h3>Sobre nosotros...</h3>
    <p>Somos un grupo de desarrollo del insituto Tecnologico metropolitano Encargado de crear la API para la gestion Profesoral</p>
</section>

<!-- seccion de contacto -->
<section class="contact">
    <h3>Contacto</h3>
    <p>Si te interesa Este Proyecto o necesitas ayuda con algo, No dudes en Contactar con nosotros</p>
</section>


<!-- seccion del footer -->
<app-footer/>