<div class="view">
    <app-aplication-navbar></app-aplication-navbar>
  
    <div class="main">
        <app-aplication-header></app-aplication-header>
        
        <div class="content">
            <div class="titleZone">
                <section class="title">
                    <h1>Editar Aliado</h1>
                    <p>Modifica los detalles del aliado seleccionado.</p>
                </section>
            </div>
  
            <div class="form-container">
                <form [formGroup]="aliadoForm" (ngSubmit)="onSubmit()" class="formContent">
                    <label for="nombre_contacto">Nombre de Contacto:</label>
                    <input id="nombre_contacto" formControlName="nombre_contacto" type="text">
                    <div *ngIf="aliadoForm.get('nombre_contacto')?.invalid && aliadoForm.get('nombre_contacto')?.touched">
                        El nombre de contacto es requerido.
                    </div>

                    <label for="correo">Correo:</label>
                    <input id="correo" formControlName="correo" type="email">
                    <div *ngIf="aliadoForm.get('correo')?.invalid && aliadoForm.get('correo')?.touched">
                        Proporcione un correo válido.
                    </div>
  
                    <label for="telefono">Teléfono:</label>
                    <input id="telefono" formControlName="telefono" type="tel">
                    <div *ngIf="aliadoForm.get('telefono')?.invalid && aliadoForm.get('telefono')?.touched">
                        El teléfono es requerido.
                    </div>
  
                    <label for="ciudad">Ciudad:</label>
                    <input id="ciudad" formControlName="ciudad" type="text">
                    <div *ngIf="aliadoForm.get('ciudad')?.invalid && aliadoForm.get('ciudad')?.touched">
                        La ciudad es requerida.
                    </div>
  
                    <button type="submit" [disabled]="aliadoForm.invalid">Guardar Cambios</button>
                    <button type="button" (click)="onCancel()" class="deleteButton">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
