<div class="view">
  <app-aplication-navbar></app-aplication-navbar>

  <div class="main">
    <app-aplication-header></app-aplication-header>
    <div class="content">

      <div class="titleZone">
        <section class="title">
          <h1>Reconocimientos</h1>
          <p>Apartado para manejar los reconocimientos otorgados a los docentes</p>
        </section>
      </div>                    

      <div class="form-container">
        <h2>Crear Nuevo Reconocimiento</h2>

        <form [formGroup]="reconocimientoForm" (ngSubmit)="onSubmit()" class="formContent">

          <div class="main-form-content">
            
            <div class="campo">
              <label for="tipo">Tipo de Reconocimiento:</label>
              <input id="tipo" formControlName="tipo" type="text">
              <div *ngIf="reconocimientoForm.get('tipo')?.invalid && reconocimientoForm.get('tipo')?.touched">
                El tipo de reconocimiento es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="fecha">Fecha:</label>
              <input id="fecha" formControlName="fecha" type="date">
              <div *ngIf="reconocimientoForm.get('fecha')?.invalid && reconocimientoForm.get('fecha')?.touched">
                La fecha es requerida.
              </div>
            </div>
            
            <div class="campo">
              <label for="institucion">Institución:</label>
              <input id="institucion" formControlName="institucion" type="text">
              <div *ngIf="reconocimientoForm.get('institucion')?.invalid && reconocimientoForm.get('institucion')?.touched">
                La institución es requerida.
              </div>
            </div>

            <div class="campo">
              <label for="nombre">Nombre:</label>
              <input id="nombre" formControlName="nombre" type="text">
              <div *ngIf="reconocimientoForm.get('nombre')?.invalid && reconocimientoForm.get('nombre')?.touched">
                El nombre es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="ambito">Ámbito:</label>
              <input id="ambito" formControlName="ambito" type="text">
              <div *ngIf="reconocimientoForm.get('ambito')?.invalid && reconocimientoForm.get('ambito')?.touched">
                El ámbito es requerido.
              </div>
            </div>
            
            <div class="campo">
              <label for="docente">Docente:</label>
              <select id="docente" formControlName="docente">
              <option *ngFor="let docente of docentes" [value]="docente.cedula">{{ docente.nombres }}</option>
              </select>
              <div *ngIf="reconocimientoForm.get('docente')?.invalid && reconocimientoForm.get('docente')?.touched">
              El docente es requerido.
              </div>
            </div>
          </div>
          
          <div class="button-container">
            <button type="submit" [disabled]="reconocimientoForm.invalid">Crear Reconocimiento</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
