<div class="view">
    <app-aplication-navbar></app-aplication-navbar>

    <div class="main">
        <app-aplication-header></app-aplication-header>
        <div class="content">

            <div class="titleZone">
                <section class="title">
                    <h1>Docente Departamento</h1>
                    <p>Apartado para manejar los docentes y departamentos.</p>
                </section>
            </div>                    

            <div class="form-container">
                <h2>Crear Nuevo Docente Departamento</h2>

                <form [formGroup]="docenteDepartamentoForm" (ngSubmit)="onSubmit()" class="formContent">

                    <div class="main-form-content">
                        
                        <div class="campo">
                            <label for="docente_id">ID del Docente:</label>
                            <input id="docente_id" formControlName="docente_id" type="number">
                            <div *ngIf="docenteDepartamentoForm.get('docente_id')?.invalid && docenteDepartamentoForm.get('docente_id')?.touched">
                                El ID del docente es requerido.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="departamento_id">ID del Departamento:</label>
                            <input id="departamento_id" formControlName="departamento_id" type="number">
                            <div *ngIf="docenteDepartamentoForm.get('departamento_id')?.invalid && docenteDepartamentoForm.get('departamento_id')?.touched">
                                El ID del departamento es requerido.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="dedicacion">Dedicación:</label>
                            <input id="dedicacion" formControlName="dedicacion" type="text">
                            <div *ngIf="docenteDepartamentoForm.get('dedicacion')?.invalid && docenteDepartamentoForm.get('dedicacion')?.touched">
                                La dedicación es requerida.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="modalidad">Modalidad:</label>
                            <input id="modalidad" formControlName="modalidad" type="text">
                            <div *ngIf="docenteDepartamentoForm.get('modalidad')?.invalid && docenteDepartamentoForm.get('modalidad')?.touched">
                                La modalidad es requerida.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="fecha_ingreso">Fecha de Ingreso:</label>
                            <input id="fecha_ingreso" formControlName="fecha_ingreso" type="date">
                            <div *ngIf="docenteDepartamentoForm.get('fecha_ingreso')?.invalid && docenteDepartamentoForm.get('fecha_ingreso')?.touched">
                                La fecha de ingreso es requerida.
                            </div>
                        </div>
                        
                        <div class="campo">
                            <label for="fecha_salida">Fecha de Salida:</label>
                            <input id="fecha_salida" formControlName="fecha_salida" type="date">
                            <div *ngIf="docenteDepartamentoForm.get('fecha_salida')?.invalid && docenteDepartamentoForm.get('fecha_salida')?.touched">
                                La fecha de salida es requerida.
                            </div>
                        </div>
                    </div>
                    
                    <div class="button-container">
                        <button type="submit" [disabled]="docenteDepartamentoForm.invalid">Crear Docente Departamento</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>