<div class="view">

  <app-aplication-navbar />
  
  <div class="main">
    <app-aplication-header />
    <div class="content">
      <div class="titleZone">
        <section class="title">
          <h1>Becas</h1>
          <p>apartado para manejar las Becas</p>
        </section>
  
        <!-- boton de redireccion a pagina para crear una red -->
        <section class="createModelButton">
          <button (click)="createBeca()">Crear Beca</button>
        </section>
      </div>
  
      <div class="tableContainer">
        <!-- Tabla para mostrar las redes -->
        <table class="custom-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>estudios</th>
              <th>tipo</th>
              <th>institucion</th>
              <th>fecha inicio</th>
              <th>fecha fin</th>
              <th>Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let beca of becas">
              <td>{{ beca.id }}</td>
              <td>{{ beca.estudios }}</td>
              <td>{{ beca.tipo }}</td>
              <td>{{ beca.institucion }}</td>
              <td>{{ beca.fecha_inicio }}</td>
              <td>{{ beca.fecha_fin }}</td>
              <td>
                <button (click)="editBeca(beca.id)" class="editButton">Editar</button>
                <button (click)="deleteBeca(beca.id)" class="deleteButton">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
