

.container {
    background-image: url('/assets/login_image.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    /* sytles */
    height: 65%;
    width: 50vh;
    
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.formulario {
    margin: 25px;
    display: flex;
    flex-direction: column;
}
.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

/* Inputs */
input[type="email"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Efecto hover y focus en los inputs */
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4a90e2; /* Color de borde al enfocar */
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 0;
}

label {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4a90e2; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    width: 50%;
    align-self: center;
}
/* Efecto hover en el botón */
button:hover {
    background-color: #35bd40; /* Color de fondo al hacer hover */
}