.navigator {
    height: 100%;
    width: 15rem;
    background: #282828;
    color: white;
    display: flex;
    flex-direction: column;
}

.navigator > h3 {
    margin: 0;
    height: 2rem;
    padding: 1rem;
    background: #333;
    text-align: center;
}

h4 {
    margin: 0;
    padding: 0.5rem;
    background: #333;
    text-align: center;
}

.admin-routes-container, .model-routes-container {
    margin: 1rem 0; /* Añadir margen superior e inferior */
    padding: 1rem;
    background: #3a3a3a;
    border-radius: 5px;
}

.admin-routes-container h4, .model-routes-container h4 {
    margin-bottom: 0.5rem; /* Añadir margen inferior para separar del select */
}


.admin-routes, .model-routes {
    margin: 1rem 1rem; /* Añadir margen para separar del resto del contenido */
    padding: 0.5rem;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 90%;
}

.admin-routes:hover, .model-routes:hover {
    background: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navigator {
        width: 12rem; /* Reduce el ancho en pantallas más pequeñas */
    }

    h3 {
        font-size: 1.3rem; /* Reduce el tamaño del encabezado */
    }
}

@media (max-width: 480px) {
    .navigator {
        width: 100%; /* Ocupar todo el ancho en móviles */
        height: 100vh; /* Ajusta la altura automáticamente */
    }

    h3 {
        font-size: 1rem; /* Tamaño aún más pequeño para el encabezado */
    }
}
