
<div class="navigator">
    <h3>Gestion Profesoral</h3>
    <ul>
        <li><a routerLink="/app">Inicio</a></li>
        <li><a routerLink="/app/red">Red</a></li>
        <li><a routerLink="/app/evaluacion-docentes">Evaluacion Docentes</a></li>
        <li><a routerLink="/app/aliado">Aliado</a></li>
        <li><a routerLink="/app/experiencia">Experiencia</a></li>
        <li><a routerLink="/app/reconocimiento">Reconocimiento</a></li>
        <li><a routerLink="/app/beca">Beca</a></li>
        <li><a routerLink="/app/apoyo-profesoral">Apoyo Profesoral</a></li>
        <li><a routerLink="/app/estudios-realizados">Estudios Realizados</a></li>
        <li><a routerLink="/app/docente">Docente</a></li>
        <li><a routerLink="/app/intereses-futuros">Intereses Futuros</a></li>
        
        <li><a routerLink="/app/alianza">Alianza</a></li>
        <!-- Modelos Con errores (tablas muchos a muchos) -->
        
        <li><a routerLink="/app/estudio-ac">Estudio AC</a></li>
        <li><a routerLink="/app/red-docente">Red Docente</a></li>
        <li><a routerLink="/app/docente-departamento">Docente Departamento</a></li>
    </ul>
</div>
