<div class="view">
  <app-aplication-navbar/>

  <div class="main">
      <app-aplication-header/>
      <div class="content">
  
          <div class="titleZone">
              <section class="title">
                  <h1>Gestion Profesoral</h1>
                  <p>Este modulo esta creado para manejar las peticiones crud con el modulo de la base de datos de Gestion profesoral.</p>
                  <p>Se encarga de manejar toda la informacion relacionada con los docentes.</p>
              </section>

          </div>
  
  
      </div>
  </div>

</div>